//:host {
//  height: 80%;
//  width: 80%;
//  display: flex;
//  justify-content: center;
//}

:host {
  height: 100%;
}

header {
  margin: 0;
  padding: 0;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: lighten(black, 20%);

  p {
    padding: 0.5rem;

    &:first-child {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

div {
  height: 100%;
}

.leaflet-container {
  padding: 0;
  margin: 0;
  background-color: darken(darkblue, 20%);
}
